.flash {
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background: #64B5F6;
    border-radius: 3px;
    line-height: 2;
}

.flash a {
    color: #fff !important;
    text-decoration: underline;
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.book-header a:not(.lang-switcher).pull-right {
    display: none;
}